h1 {
    font-size: 50px;
    text-align: center;
    
    
    
}
h2 {
    font-size: 50px;
    text-align: center;
    
    
}
h3 {
    font-size: 50px;
    text-align: center;
    
}
h4{
    font-size: 50px;
    text-align: center;
    
}
h5{
    font-size: 50px;
    text-align: center;
    
    
}
h6 {
    font-size: 50px;
    text-align: center;
    
   
}

body {
    background-size: 1500px;
    background-image: url("background.png")
    
}
